.main {
    height: 100vh;
}

.sidebar {
    background: #686868;
    color: #ffffff;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 10px;
}

.sidebar a:hover {
    background: #000000;
}

.active {
    background: #000000;
    border-right: solid 8px orange;
}

.card-data {
    border: solid;
    padding: 20px 50px;
    color: #ffffff;
}

.card-data.book {
    background-color: teal;
}

.card-data.category {
    background-color: orangered;
}

.card-data.user {
    background-color: purple;
}

.card-data i {
    font-size: 50px;
}

.card-desc {
    font-size: 20px;
}

.card-count {
    font-size: 10px;
}